img {
    max-width: 100%;
    height: auto;
}

.contact-info .info h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #767070;
}
.contact-info .info p {
    margin: 0;
}

.contact-form span {
    display: block;
    margin-bottom: 5px;
}
.contact-form input[type=text] {
    background: transparent!important;
    border: 0;
    border-bottom: 1px solid #C4C0C0;
    height: 35px!important;
    padding: 0 0.75rem;
}

.contact-form .btn {
    margin: 0 0 0 auto;
    display: block;
}

.footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.footer-box .logo {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    min-width: 250px;
    padding: 40px 0
}
.footer-box .logo >img {
    width: 100%;
    max-width: 350px;
    height: auto;
}
.footer-box .social {
    display: block;
    margin-top: 10px;
}
.footer-box .social a {
    margin: 5px;
}
.footer-box .social a:hover {
    opacity: .7;
}
.footer-box .contact {
    flex: 1;
    padding: 20px 0 40px 0;
}
.footer-box .contact h3 {
    color: #fff;
    font-weight: 300;
}
.footer-box .contact span {
    display: block;
    margin-bottom: 10px;
    font-weight: 300;
}
.footer-box .contact span img {
    margin-right: 10px;
}
.footer-box .contact .angles {
    margin-top: 50px;
    max-width: 150px;
}
.footer-box .five {
    flex: 1;
    text-align: right;
}
.footer-box .five img {
    width: 100%;
    max-width: 400px;
    height: auto;
}


.boxes {
    display: flex;
    flex-flow: wrap;
}
.box-service {
    padding: 40px 20px;
    background: #F5F5F5;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
    position: relative;
    margin: 20px 2%;
    flex: 1;
    min-width: 46%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.5;
    color: #B0AFAF;
}
.box-service span {
    align-self: center;
}
.box-service:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    margin-top: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 12px 0 12px;
    border-color: #F5F5F5 transparent transparent transparent;
    line-height: 0px;
    _border-color: #007bff #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    -webkit-filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.15));
}
.box-service:hover {
    background: #E35B5B;
    color: #fff;
}
.box-service:hover:after {
    border-color: #E35B5B transparent transparent transparent;
}

@media (min-width: 992px) {

    .box-service {
        min-width: 29.333%;
    }

}

@media (min-width: 768px) {
    
    .box-service {
        font-size: 1rem;
    }

    .footer-box {
        flex-direction: row;
    }

    .footer-box .contact {
        padding: 20px;
    }

}
